@import '../common/variables';

.subHeader {
  padding: 10rem 10rem 0 10rem;
  display: flex;
  justify-content: center;
}

.headerLink {
  margin-right: 10rem;
}

.headerLink h3 {
  margin: 0;
  color: $link-color;
}

.headerLink h3:hover {
  opacity: 0.6;
}

.editLink {
  display: flex;
  align-items: center;
  min-width: 10rem;
}

.editLinkInvis {
  @extend .editLink;
  visibility: hidden;
}
