$label-right-pad: 5rem;
$error-height: 20rem;

.hookForm {
  max-width: 700rem;
  margin: 50rem auto;
}

.inputSection {
  display: flex;
  flex-wrap: wrap;
}

.phoneSection {
  display: flex;
  flex-wrap: wrap;
}

.hookInputContainer {
  display: flex;
}

.hookSelectContainer {
  display: flex;
  margin-bottom: $error-height;
}

.hookLabel {
  cursor: pointer;
  text-align: end;
  align-self: center;
  padding-right: $label-right-pad;
  padding-left: 4 * $label-right-pad;
}

.hookInputLabel {
  @extend .hookLabel;
  margin-bottom: $error-height;
}

.hookInputMain {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 150rem;
}

.hookInputShort {
  @extend .hookInputMain;
  max-width: 110rem;
}

.hookInputLong {
  @extend .hookInputMain;
}

.hookInputLong input {
  width: 275rem;
}

.honorificSelect {
  width: 85rem;
}

.genderSelect {
  width: 80rem;
}

.error {
  color: red;
  font-weight: bold;
  font-size: small;
  min-height: 20rem;
}

.submitButton {
  display: flex;
  justify-content: flex-end;
  padding: 0 10rem;
}

.asterisk {
  color: red;
  font-weight: bold;
  padding-right: 3rem;
}
