@import '../common/variables';

.centerContainer {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.header {
  display: flex;
  justify-content: center;
  margin: 30rem 0 10rem;
}

.header h3 {
  margin: 0;
}

.deleteRow {
  display: flex;
  justify-content: flex-end;
  max-width: $form-max-width;
  margin: 0 auto;
}
